@charset "utf-8";

@media screen and (max-width: 419px) {
    body {
        font-family: sans-serif;
    }

    .soPequno {
        display: block;
    }

    .soMedio {
        display: none;
    }

    .soGrande {
        display: none;
    }

    /*Caixa*/
    article {
        width: 90%;
        float: none;
        margin: auto;
    }

    /*imagens*/
    article img {
        max-width: 100%;
    }

    /*corpo de texto*/
    p {
        font-size: 1.2em;
    }
}

/*Tamanho médio*/
@media screen and(min-width: 420px) and (max-width: 679px) {
    .soPequeno {
        display: none;
    }

    .soMedio {
        display: none;
    }

    .soGrande {
        display: none;
    }

    /*Caixa*/
    article {
        width: 44.9%;
        float: left;
        float: auto 2.5%;
        padding-bottom: 30px;
    }

    article:last-of-type img {
        width: 94.4%;
        float: none;
        margin: auto;
    }

    /*Imagem*/
    article img {
        max-width: 100%;
    }
}

/*Tamanho Grade*/
@media screen and (min-width:680px) {
    body {
        width: 90%;
        max-width: 1800px;
        margin: auto;
    }

    .soPequeno {
        display: none;
    }

    .soMedio {
        display: none;
    }

    .soGrande {
        display: block;
    }

    /*Caixa*/
    article {
        width: 30%;
        float: left;
        margin: auto 1.5%;
        padding-bottom: 30px;
    }

    article:last-of-type img {
        margin-bottom: 21.5%;
    }

    /*Imagem*/
    article img {
        max-width: 100%;
    }

}